---
title: "A Prospective Analysis of Security Vulnerabilities within Link Traversal-Based Query Processing"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Ruben Taelman', 'https://www.rubensworks.net/', 'https://www.rubensworks.net/#me' %>
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>

{:#affiliations}
- {:#idlab} IDLab,
            Department of Electronics and Information Systems,
            Ghent University – imec,
            {firstname.lastname}@ugent.be

<%= section 'abstract' %>
</header>

<main>
  <%= section 'introduction' %>
  <%= section 'related-work' %>
  <%= section 'use-case' %>
  <%= section 'classification' %>
  <%= section 'vulnerabilities' %>
  <%= section 'conclusions' %>
</main>

<footer></footer>
